.navbar {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 999;
}

.navMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navMenu li {
  margin-bottom: 15px;
  position: relative;
  text-align: right;
}

.dot {
  display: block;
  color: rgba(255, 255, 255, 0.6); /* Default unselected color */
  padding: 5px 0;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 150px; /* Set a fixed width */
  text-align: center; /* Center text inside the button */
}

.dot.active {
  font-weight: bolder;
  color: white; /* Highlighted color for active link */
}

.dot span {
  display: inline-block;
  opacity: 0.4; /* Default visibility */
  transform: translateX(30px);
  transition: all 0.3s ease;
  background-color: #f44336;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 30px;
  width: 100%; /* Span will fill the width of the .dot */
  text-align: center; /* Center text inside the button */
}

.dot:hover {
  color: #ebe2e2;
}

.dot.active span,
.dot:hover span {
  opacity: 1;
  transform: translateX(0);
}
